$bg-color: #880017;
$health-bar: #00a876;
$health-bar-bg: #fde5e5;
// Btn Style Guide
$btn-color: #88005b;
$btn-active: #af0a78;
$btn-disable: #ccc;
// Log Style Guide
$player-log: #7700ff;
$monster-log: #7700ff;
$damage-log: red;
$heal-log: green;
// Box shadow Color
$box-shadow: rgba(0, 0, 0, 0.26);
